:root {
    --color-primary: #FFCFCF;
    --color-primary-light: hsl(242, 91%, 69%, 18%);
    --color-primary-variant: #5854c7;
    --color-gray-900: #FFD299;
    --color-gray-800: #FFB5BF;
    --color-gray-700: #FCEEA6;
    --color-gray-300: #FFD299;
    --color-gray: #F7EDD5;
    --color-gray-200: rgba(242, 242, 254, 0.7);
    --color-btn: #FFCFCF;
    --color-white: #A87D71;
    --color-bg: #FCEEA6;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156, 100%, 38%, 15%);
  
    --transition: all 300ms ease;
  
    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;
  
    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
  }
  
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap'); */
  
  *{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(20px);
  }
  
  .logo {
    font-size: 2em;
    color: var(--color-white);
    user-select: none;
  }
  
  .navigation a {
    position: relative;
    font-size: 1.1em;
    color: var(--color-white);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  
  .navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--color-white);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--color-white);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s ease;
  }
  
  .navigation .btnLogin-popup:hover {
    background: var(--color-white);
    color: #162938;
  }
  
  .navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--color-white);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s ease;
    transform-origin: right;
  }
  
  .navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-bg);
    background-size: cover;
    background-position: center;
  
  }
  
  .item{
    position: absolute;
    top: 20px;
    width: 100%;
    color: var(--color-white);
    background: transparent;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .item .logo{
    color: #fff;
    font-size: 30px;
    align-items: center;
  
  }
  
  .text-item h2{
    font-size: 30px;
    line-height: 150%;
  }
  
  .text-item h2 span{
    font-size: 22px;
    line-height: 150%;
  }
  
  .vid img {
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-gray-900);
    overflow: hidden;
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    width: 80%;
    cursor: pointer;
  }
  
  .tutor-container {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tutor-container:second-child {
    width: 100%;
    
  }
  
  .advantages {
    font-size: 16px;
  }
  
  .getstarted-container {
    display: flex;
    gap: 3rem;
    width: 100%;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .getstarted-container a {
    display: inline-block;
    padding: 0.8rem 3.8rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: .5s ease;
  }
  
  .student-started {
    background: #FFCFCF;
    color: var(--color-white);
  }
  
  .prof-started {
    background: #FFD299;
    color: var(--color-white);
  }
  
  .getstarted-container .class-started {
    background: #EDD98E;
    color: var(--color-white);
  }
  
  .getstarted-container a:hover {
    filter: brightness(80%);
  }
  
  .learnmore {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 1rem;
    text-decoration: none;
  }
  
  .learnmore-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
  }
  
  .new_to-container {
    text-align: center;
    width: 80%;
    border: 2px solid #C78B79;
    background: #F7EDD5;
    border-radius: var(--card-border-radius-2);
    padding-bottom: 22px;
    margin-bottom: 22px;
  }
  
  .new_to-container p:first-child {
    margin-top: 22px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 22px;
  }

  .help-link {
    color: var(--color-white);
  }
  
  .started_vids-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4px;
    margin-bottom: 26px;
  }
  
  .started_vids-container a {
    background: transparent;
    color: var(--color-white);
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    transition: .5s ease;
  }
  
  .feedback {
    width: 100%;
    margin-top: 22px;
    background: #F7EDD5;
    border-top: 1px solid var(--color-white);
  }
  
  .feedback .text-item {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    text-align: left;
  }
  
  .instructors-container {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  .instructor {
    padding-top: 20px;
    text-decoration: none;
    width: 20%;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: var(--card-border-radius-2);
    color: var(--color-white);
  }
  
  .instructor:hover {
    box-shadow: 0px 2px 3px 0px;
    color: var(--color-white);
  }
  
  .instructor-avatar {
    border-radius: var(--card-border-radius-2);
    display: block;
    height: 145px;
    width: 145px;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  }
  
  .instructor-info {
    text-align: center;
    color: var(--color-white);
  }
  
  .instructor-info .instructor-name {
    font-size: 18px;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 14px;
    text-decoration: none;
  }
  
  .instructor-info .instructor-subject {
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .quote {
    width: 80%;
    font-size: 14px;
    padding-top: 8px;
    border-top: 1px solid var(--color-white);
    margin-top: 8px;
    height: 100px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-left: 10%;
    color: var(--color-white);
  }
  
  .categories-container a {
    background: var(--color-gray-300);
    color: var(--color-white);
    display: inline-block;
    padding: 1rem 0.8rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    transition: .5s ease;
  }
  
  .categories a i {
    margin-right: 10px;
    font-size: 120%;
  }
  
  .categories-container a:hover {
    background: var(--color-white);
    color: var(--color-gray-300);
  }
  
  .categories .text-item {
    width: 80%;
    margin-left: 10%;
    align-items: center;
    text-align: left;
  }
  
  .categories {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
  }
  
  .categories-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 80%;
    margin-left: 10%;
  }
  
  .story-container {
    width: 100%;
    background: var(--color-gray);
  }

  .story-container .text-item {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    text-align: left;
  }
  
  .storyvid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
  }
  
  .story-content {
    width: 50%;
    line-height: 230%;
    top: 0;
  }
  
  .story-vid img {
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-gray-900);
    overflow: hidden;
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    width: 90%;
  }
  
  .story-vid {
    width: 50%;
    align-items: center;
    text-align: left;
    cursor: pointer;
  }
  
  footer {
    width: 100%;
    background: var(--color-gray-900);
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
  }
  
  .footer__socials {
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
  }
  
  .footer__socials a {
    background: var(--color-bg);
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer__socials a i {
    background: var(--color-white);
    color: var(--color-bg);
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-bg);
    color: var(--color-white);
    transition: 0.3s ease;
    font-size: 120%;
  }
  
.footer__socials a {
    text-decoration: none;
}
  
.footer__socials a i:hover {
    background: var(--color-white);
    color: var(--color-bg);
}
  
.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
}

.footer__container article {
    margin-left: 30%;
}

footer h4 {
    color: var(--color-white);
    margin-bottom: 0.6rem;
}

footer ul li {
    padding: 0.4rem 0;
    list-style-type: none;
}

footer ul a {
    opacity: 0.75;
    text-decoration: none;
    transition: 0.3s ease;
    color: var(--color-white);
}

footer ul a:hover {
    letter-spacing: 0.2rem;
    opacity: 1;
}

.footer__copyright {
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-bg);
    margin-top: 4rem; 
    color: var(--color-white);
    font-size: 500;
}

  .wrapper {
    position: fixed;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease;
    margin-top: 50px;
    color: var(--color-white);
  }
  
  .wrapper .form-box {
    width: 100%;
    padding: 40px;
    color: var(--color-white);
  }
  
  .wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--color-white);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    color: var(--color-gray-900);
  }
  
  .form-box h2 {
    font-size: 2em;
    color: var(--color-white);
    text-align: center;

  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--color-white);
    margin: 30px 0;
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--color-white);
    pointer-events: none;
    transition: .5s ease;
  }
  
  .input-box input:focus~ label,
  .input-box input:not(:placeholder-shown)~ label{
    top: -5px;
    
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-white);
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
  
  .input-box input:-webkit-autofill {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-white);
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
  .input-box input:autofill {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-white);
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
  
  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--color-white);
    line-height: 57px;
  }
  
  .remember-forgot {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .remember-forgot label input {
    accent-color: var(--color-gray);
    margin-right: 3px;
    background-color: var(--color-gray);
  }
  
  .remember-forgot a {
    color: var(--color-white);
    text-decoration: none;
    transition: .5s ease;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  .btn {
    width: 100%;
    height: 45px;
    background: var(--color-white);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: var(--color-gray-900);
    font-weight: 500;
    transition: 0.3s ease;
  }

  .btn:hover {
    filter: brightness(80%);
  }
  
  .input-box input:-webkit-autofill,
  .input-box input:-webkit-autofill:hover,
  .input-box input:-webkit-autofill:focus,
  .input-box input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-white) !important;
  }

  /* width */
::-webkit-scrollbar {
  overflow: hidden;
  width: 0;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-white);
}


.alert__message {
  padding: 0.8rem 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border-radius: var(--card-border-radius-2);
}

.alert__message.error {
  background: var(--color-red-light);
  color: var(--color-red);
}

.alert__message.success {
  background: var(--color-green-light);
  color: var(--color-green);
}

.alert__message.lg {
  text-align: center;
}
  
  
  
  
  
  